node_modules
_dist
dist
*.log
.idea
/.idea
*.iml
/public
tmp
bower_components
.DS_Store
*.vbproj
*.user
*.db
*.cache
desktop.ini
bin
release
*.npm.debug.log*
/ssl
dist-node
.env
/.nyc_output
.nuxt
/packages/cms-utils/coverage
/src/apps/*/coverage
seed-data.json
lib/
coverage/

# Local Netlify folder
.netlify
